
.welcome-background {
  background-image: url('purple.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-background h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.welcome-background .btn {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #622b8a;
  border-color: #622b8a;
}

.welcome-background .btn:hover {
  background-color: #8a2b8b;
  border-color: #8a2b8b;
}